.form {
	margin-bottom: 2rem;
}

.label {
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: capitalize;
}

.input {
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 3px;
	resize: none;
	width: 100%;
}

.submit {
	all: unset;
	padding: 1rem 1.4rem;
	background-color: red;
	margin: auto;
	width: fit-content;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.submit:hover {
	background-color: rgb(221, 69, 69);
}