@use '../../../scss/utils.mixin.scss' as m;

.posts {
	width: min(90%, 1440px);
	margin: 2rem auto;
}

.posts__container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);

	@include m.media("sm") {
		grid-template-columns: repeat(3, 1fr);
	}

	@include m.media("md") {
		grid-template-columns: repeat(4, 1fr);
	}
}