.overlay {
	color: white;
	inset: auto  0 0.3rem 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s ease-in-out;
	width: 95%;

	&--display {
		opacity: 1;
	}
	
	&__progress {
		width: 100%;
	}

	&__settings {
		padding-inline: 0.2em;
		display: flex;
	}
}