.trailer {
	position: relative;
	// width: fit-content;
	max-width: 50%;
	margin: auto;

	&__screen {
		width: 100%;
		margin: auto;
		aspect-ratio: 16/9;
		cursor: pointer;
		position: relative;
		background: black;
	}
}