@use '../../../scss/utils.mixin.scss'as m;

.navigation {
	background: rgb(39, 39, 39);
	position: absolute;
	text-align: left;
	left: 0;
	top: 100%;
	width: 100%;
	transform-origin: top;
	transition: all 0.1s ease-in-out;
	transform: scale(1, 0);

	@include m.media('sm') {
		all: unset;
		display: flex;
		align-items: center;
	}

	ul {
		@include m.media('sm') {
			display: flex;
		}

		li {
			margin-bottom: 1em;
			margin-left: 1em;

			@include m.media('sm') {
				margin: 0 0 0 3em;
			}
		}
	}

	a {
		color: white;
		text-decoration: none;
		font-size: 1.2rem;
		text-transform: uppercase;
		transition: opacity .10s ease-in-out;
		opacity: 0;

		&:hover {
			color: rgb(99, 99, 99);
		}

		@include m.media('sm') {
			opacity: 1;

			@include m.pseudo() {
				display: block;
				background: black;
				height: 5px;
				top: -.8em;
				right: 0;
				left: 0;
				transform: scale(0, 1);
				transition: transform ease-in .125s;
				transform-origin: left;
			}

			&:hover::before {
				transform: scale(1, 1);
			}
		}

	}

	&--open {
		transform: scale(1, 1);

		a {
			opacity: 1;
			transition: opacity .15s ease-in-out .15s;
		}
	}

}