@use './btn/btn.scss';
@use "./animations/scenes-animation.scss";
*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	padding-top: 73px;
	min-height: calc(100vh - 73px);
}

video::-webkit-media-controls {
	display:none !important;
}

.scene {
	/** Basic styles for an animated element */
	.scene__element {
	  animation-duration: 0.25s;
	  transition-timing-function: ease-in;
	  animation-fill-mode: both;
	}
  
	/** An element that fades in */
	.scene__element--fadein {
	  animation-name: fadeIn;
	}
  
	/** An element that fades in and slides up */
	.scene__element--fadeinup {
	  animation-name: fadeInUp;
	}
  
	/** An element that fades in and slides from the right */
	.scene__element--fadeinright {
	  animation-name: fadeInRight;
	}
}

.cursorHide {
	cursor: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
