.scene {
	.scene__element {
	  animation-duration: 0.25s;
	  transition-timing-function: ease-in;
	  animation-fill-mode: both;
	}
  
	.scene__element--fadein {
	  animation-name: fadeIn;
	}
  
	.scene__element--fadeinup {
	  animation-name: fadeInUp;
	}
  
	.scene__element--fadeinright {
	  animation-name: fadeInRight;
	}
}

.fade-in {
	animation-duration: 0.4s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
